@tailwind base;
@tailwind components;
@tailwind utilities;

/* //TODO use tailwind */
body {
  background-color: black;
  font-family: sans-serif;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-color: #57a190;
  /* background-image: linear-gradient(to right bottom, #4d5c74, #5bd6b9); */
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}
